<h2>Moabs on Storage - Status Information</h2>
<p><strong class="fs-4">PreservedObject</strong> records store the druid and links to db records about both the Moab on local storage and all the replicated instances in the cloud.</p>
<p><strong class="fs-4">CompleteMoab</strong> records are about the Moab on storage.</p>
<hr/>
<div class="row row-cols-2">
  <div class="column col-5">
    <turbo-frame id="object_verisons">
      <%= render Dashboard::ObjectVersionsComponent.new %>
    </turbo-frame>
  </div>
  <div class="column col-7">
    <turbo-frame id="complete_moab_status">
      <%= render Dashboard::CompleteMoabsComponent.new %>
    </turbo-frame>
  </div>
</div>
<hr/>

<turbo-frame id="moab_storage_root_data">
  <%= render Dashboard::MoabStorageRootsComponent.new %>
</turbo-frame>
