<h3>S3 Replication Information</h3>

<%= render partial: 'endpoint_data' %>
<div class="row row-cols-2">
  <div class="column"><%= render partial: 'replicated_files' %></div>
  <div class="column"><%= render partial: 'zip_parts_suffix_counts' %></div>
</div>
<%= render partial: 'replication_flow' %>
