<h3>S3 Replication Information</h3>

<div class="row row-cols-2">
  <div class="column col-8">
    <turbo-frame id="replication_endpoints">
      <%= render Dashboard::ReplicationEndpointsComponent.new %>
    </turbo-frame>
  </div>
  <div class="column col-4">
    <turbo-frame id="replicated_files">
      <%= render Dashboard::ReplicationFilesComponent.new %>
    </turbo-frame>
  </div>
</div>
<turbo-frame id="replication_flow">
  <%= render partial: 'replication_flow' %>
</turbo-frame>
<turbo-frame id="zip_parts_suffix_counts">
  <%= render Dashboard::ZipPartsSuffixesComponent.new %>
</turbo-frame>
