<turbo-frame id="replication-endpoints">
  <p>See <a href="https://github.com/sul-dlss/preservation_catalog/wiki/Replication-errors">Replication Errors wiki</a> for information on how to resolve errors.</p>
  <%= render Dashboard::ReplicationEndpointsComponent.new %>
</turbo-frame>
