services:
  db:
    image: postgres:12
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=sekret
    volumes:
      - postgres-data:/var/lib/postgresql/data
  redis:
    image: redis:7
    command: redis-server
    ports:
      - 6379:6379
    volumes:
        - redis:/data

volumes:
  redis:
  postgres-data:
