services:
  db:
    image: postgres:12
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=sekret
    volumes:
      - postgres-data:/var/lib/postgresql/data
  redis:
    image: redis:7
    command: redis-server
    ports:
      - 6379:6379
    volumes:
        - redis:/data
  gen_er_diagram:
    image: schemacrawler/schemacrawler
    entrypoint: /bin/bash
    # https://www.schemacrawler.com/diagramming.html
    # https://www.schemacrawler.com/docker-image.html
    # https://hub.docker.com/r/schemacrawler/schemacrawler/
    command: /opt/schemacrawler/bin/schemacrawler.sh --server=postgresql --host=db --database=development --user=postgres --password=sekret --info-level=standard --command=schema --output-format=svg --output-file=/var/preservation_catalog/db/schema_er_diagram.svg --config-file=/var/preservation_catalog/db/schemacrawler.config.properties --title "PresCat Schema ER Diagram"
    volumes:
      - ./db:/var/preservation_catalog/db

volumes:
  redis:
  postgres-data:
