version: 2.1
orbs:
  ruby-rails: sul-dlss/ruby-rails@4.6.0
workflows:
  build:
    jobs:
      - ruby-rails/validate-api:
          name: validate
      - ruby-rails/lint:
          name: lint
          context: dlss
      - ruby-rails/lint-erb:
          context: dlss
      - ruby-rails/test-rails:
          name: test
          context: dlss
          api-only: true
          db-prepare-command: db:reset
          executor: ruby-rails/ruby-postgres-redis
