<li class="list-group-item d-flex justify-content-between align-items-center">
  <h6 class="d-flex justify-content-start pe-2">
    <span class="text-secondary pe-1">Endpoint:</span>
    <%= endpoint_name %>
  </h6>
  <span class="badge rounded-pill <%= endpoint_replication_badge_class %>">
    <%= endpoint_replication_status_label %>
  </span>
</li>
