<div>
  <h4>ZipPart suffix counts</h4>
  <p>The first ZipPart suffix will always be .zip. If a zip is over <%= Replication::DruidVersionZip::ZIP_SPLIT_SIZE %>, the suffixes of the parts will be .zip, .z01, .z02, etc.</p>
  <div class="col-sm-2">
    <table class="table table-bordered table-hover table-sm">
      <thead class="table-info">
        <tr>
          <th>suffix</th>
          <th>count</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>.zip</td>
          <td class="text-end"><%= zip_part_suffixes['.zip'] %></td>
        </tr>
        <% zip_part_suffixes.keys[0..-2]&.map do |suffix| %>
          <tr>
            <td><%= suffix %></td>
            <td class="text-end"><%= zip_part_suffixes[suffix] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
