<div>
  <h4>ZippedMoabVersion Status</h4>

  <div class="col-sm-6">
    <table class="table table-bordered table-hover">
      <thead class="table-info">
        <tr>
          <th class="text-center">replication failures</th>
          <th class="text-center">replication incomplete</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <td class="text-end<%= ' table-danger' if zipped_moab_versions_failed? %>"><%= zipped_moab_versions_failed_count %></td>
          <td class="text-end<%= ' table-warning' if zipped_moab_versions_incomplete? %>"><%= zipped_moab_versions_incomplete_count %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
