# the keys of storage_root_map represent deployed hosts and point to their storage_roots
# these host values are just examples or fixtures, for real values, see sul-dlss/shared_configs
storage_root_map:
  default:
    fixture_sr1: 'spec/fixtures/storage_root01'
    fixture_sr2: 'spec/fixtures/storage_root02'
    fixture_sr3: 'spec/fixtures/checksum_root01'
    fixture_srA: 'spec/fixtures/storage_rootA' # a nascent but lagging copy of fixture_sr1.  has v0001 of one of its moabs.
    fixture_empty: 'spec/fixtures/empty'
  preservation_catalog_prod:
    fixture_sr1: 'spec/fixtures/storage_root01'
    fixture_sr2: 'spec/fixtures/storage_root02'
    fixture_sr3: 'spec/fixtures/checksum_root01'
  preservation_catalog_prod_a:
    fixture_sr1: 'spec/fixtures/storage_root01'
    fixture_sr2: 'spec/fixtures/storage_root02'
zip_endpoints:
  aws_s3_west_2:
    region: 'us-west-2'
    endpoint_node: 'us-west-2'
    storage_location: 'sul-sdr-aws-us-west-2-test'
    access_key_id: 'overridden-by-env-var-in-ci'
    secret_access_key: 'overridden-by-env-var-in-ci'
  ibm_us_south:
    region: 'us-south'
    endpoint_node: 'https://s3.us-south.cloud-object-storage.appdomain.cloud'
    storage_location: 'sul-sdr-ibm-us-south-1-test'
    access_key_id: 'overridden-by-env-var-in-ci'
    secret_access_key: 'overridden-by-env-var-in-ci'
  gcp_s3_south_1:
    region: 'us-south1'
    endpoint_node: 'https://storage.googleapis.com'
    storage_location: 'gcp-us-south-test'
    access_key_id: 'overridden-by-env-var-in-ci'
    secret_access_key: 'overridden-by-env-var-in-ci'
