moab:
  # this is a list of named storage roots.  the names are used to seed the endpoints table.
  storage_roots:
    # name: '/location/on/disk'  # e.g.
    fixture_sr1: 'spec/fixtures/storage_root01'
    fixture_sr2: 'spec/fixtures/storage_root02'
